.works {
  color: #fff;

  .filter-row {
    margin: 10rem 5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;

    .selected {
      color: #4c2122;
      border-bottom: 2px solid #4c2122;
    }
  }

  .brands {
    display: flex;
    flex-wrap: wrap;

    @keyframes scale-up-center {
      0% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }

    .brand {
      border: 2px solid #4c2122;
      height: 100%;
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
  }
}
